.main-question .question-title,.reponse-section h3{
    font-size: 1.6em;
    border-bottom: 1px solid grey;
}  

.main-question .tags-list a{
 text-decoration: underline;
}

.main-question .author {
    gap: 10px;
    align-items: center;
}

.main-question .author .author-pdp{
    max-width: 50px;
    height: auto;
}

.main-question .author .author-pdp img{
    width: 100%;
    height: auto;
}

.vote-btn-section .btn-vote{
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: var(--yellow-dark);
    justify-content: center;
}
.vote-btn-section .btn-vote:hover{
    background-color: var(--yellow-dark);
    color: #fff;
}

.vote-btn-section{
    gap: 10px;
}
.vote-value {
    font-size: 1.5em;
    font-weight: 500;
}
