:root {
  --yellow: #f5a425;
  --yellow-dark: #e49a22;
  --blue: #366fba;
}

.caption h2 {
  font-size: 3em !important;
  text-transform: lowercase !important;
  text-transform: capitalize !important;
  font-weight: 500 !important;
}
.logo a {
  text-transform: lowercase !important;
  font-weight: 200 !important;
  letter-spacing: 0.3em !important;
}

.search-bar-input {
  padding: 25px !important;
  font-size: 20px !important;
  font-style: italic !important;
}
.search-btn {
  padding: 16px !important;
}
.search-btn:hover {
  background-color: var(--yellow-dark) !important;
  color: #fff !important;
}

p {
  text-align: justify;
}

/** navigation **/
@media screen and (max-width: 950px) {

    nav[role="navigation"] {
        display: none;
    }

  nav[role="navigation"].active {
    max-height: 20em;
    overflow-y: unset;
    display: block;
  }
}

.btn-login {
  border-color: #fff !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out !important;
}
.btn-login:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.btn-signup {
  border-color: var(--yellow) !important;
  color: var(--yellow) !important;
  transition: all 0.3s ease-in-out !important;
}
.btn-signup:hover {
  background-color: var(--yellow) !important;
  color: #fff !important;
}

.jodit-wysiwyg {
  color: #000 !important;
}
.reponse-image {
  max-width: 200px !important;
  width: 100% !important;
  height: auto !important;
}
.reponse-image img {
  max-width: 100% !important;
  height: auto !important;
}